.container {
    width: 90%; 
    margin: 0 auto; 
    padding: 20px; 
}
.lists{
   
    padding: 20px;
    color: aliceblue;

}
.photos{
    width: 200px;
    height: 250px;
    object-fit: cover;
    object-position: center;
}
.main{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 280px;

}
.names{
    margin-top:10px ;
    margin-bottom: 10px;
    font-size: 20px;
}
.years{
    font-size: 20px;
}